// colors
$clr-bg: #e5e5e5;
$clr-white: #ffffff;
$clr-purple: #9c69e2;
$clr-purple--hover: #b17ff4;
$clr-yellow-btn: #eeaa12;
$clr-yellow-btn--hover: #ffbe2d;
$clr-yellow: #ffc84d;
$clr-pink: #f063b8;
$clr-mob-nav-border: #d6b9ff;
$clr-heading: #212353;
$clr-body-text: #4b5d68;
$clr-card-bg: #fff3d7;
$clr-placeholder: #a9a0b6;
// shadows
%shadow-slider {
  box-shadow: 0px 10px 0px #f5bd3f;
  border-radius: 50px;
}
%shadow-nav-tooltip {
  box-shadow: 0px 4px 0px #e2cefe;
}
// layout
%layout-logo {
  align-self: flex-start;
  min-width: 4.5rem;
  min-height: 3.5rem;
}
%layout-header-footer {
  display: flex;
  align-items: center;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
